- content_for :top do
  - if notice.present?
    .alert-box.no-margin{data: { alert: ""}}
      #notice= notice 
      %a.close{href:"#"} &times;
  = render "hero"
  = render "promo"
  = render "portfolio"
  = render "price"

- content_for :bottom do
  = render "contact"

.row.blogs-panel
  - @blogs.each do |blog|
    .columns.large-6
      .panel
        - if blog.image.present?
          = link_to (image_tag blog.image_url(:large).to_s), blog.image_url 
        %header
          %h3= link_to blog.name, blog_path(blog)
        %p= truncate_html (markdown blog.content), length: 500


