%header#header
  %nav.top-bar.shadow{data: {topbar: "", options: "back_text: Назад"}}
    %ul.title-area
      %li.name
        %h1#logo
          = link_to ("POZ" + image_tag('logo_55.png') + "IVE").html_safe, root_path
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span MENU
    %section.top-bar-section
      %ul#navbar.right
        = render "layouts/menu"
        %li.divider
        %li.has-dropdown
          = link_to "НАСТРОЙКИ", locale: "en"
          %ul.dropdown
            %li= link_to "ENGLISH", "http://pozitiveit.com"
            %li= link_to t('jumpproject'), new_message_path(type_website: "Startup")
            - if user_signed_in?
              %li= link_to 'РЕДАКТИРОВАТЬ ПРОФАЙЛ', edit_user_registration_path
              %li= link_to "<i class='fi-power'></i> ВЫЙТИ".html_safe, destroy_user_session_path, :method => :delete
            - else
              %li= link_to "РЕГИСТРАЦИЯ", new_user_registration_path
              %li= link_to "ВХОД", new_user_session_path
            - if admin_signed_in?
              %li= link_to 'РЕДАКТИРОВАТЬ ПРОФАЙЛ', edit_admin_registration_path
              %li= link_to "<i class='fi-power'></i> ВЫЙТИ".html_safe, destroy_admin_session_path, :method => :delete

